<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}

    <p>This site exists as a simple git + github + heroku test.
      It was created with NODEJS using Handlebars and Express.</p>

    {{>footer}}
  </body>
</html>
