<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the test page home page</title>
  </head>
  <body>
{{> include header}}

    <footer>
      <p>Footer test space.  Copyright 2017</p>
    </footer>

  </body>
</html>
